<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eid</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lightning</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lnurl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lnbc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eudi-openid4ci://authorize</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid-credential-offer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eudi-openid4vci</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid-presentation-request</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eudi-openid4vp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>eu.hidy.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid4vp</string>
			</array>
		</dict>
	</array>
	<key>Cfbundle</key>
	<string></string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hidy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>id_ideal_wallet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FlutterDeepLinkingEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http</string>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Diese App nutzt NFC um den Personalausweis auszulesen</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>no clue will add later</string>
	<key>NSCameraUsageDescription</key>
	<string>Diese App nutzt die Kamera, um QR-Codes zu scannen.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Diese App kann FaceID zur Anmeldung nutzen.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>E80704007F00070302</string>
		<string>A000000167455349474E</string>
		<string>A0000002471001</string>
		<string>A0000002472001</string>
		<string>D2760000850100</string>
		<string>D2760000850101</string>
		<string>00000000000000</string>
	</array>
</dict>
</plist>
